* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url(../images/header_bg.jpg) center center / cover;
}

.nav {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    padding: 20px 0;
}

.menu__link {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 20px;
}

.header__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}